*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
svg{
    height: 10em;
    width: 10em;
    position: fixed;
    top: 8em;
    z-index: -1;
    left: 20em;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    top: 2em;
}
nav img{
    height: 5em;
}
input#number{
    width: 20em;
    height: 3em;
    border-radius: 15rem;
    align-self: center;
    border: none;
}
input#btn{
    width: 7em;
    height: 3em;
    border-radius: 15rem;
    background: gold;
    border: 0;
    align-self: center;
    cursor: pointer;
}
::placeholder{
    text-align: center;
    font-size: 1.5em;
}
input:focus-visible{
    border: none;
    /* outline: -webkit-focus-ring-color auto 1px; */
    outline: 0px;
    overflow: hidden;
}
form{
    box-shadow: 0 0 5px black;
    border-radius: 15rem;
    height: fit-content;
    justify-content: center;
    display: flex;
    align-content: center;
}
h1{
    font-size: 3em;
    position: absolute;
    width: 9em;
    top: 4em;
    left: 3.5em;
}
p{
    font-size: 1.3em;
    position: absolute;
    top: 18em;
    left: 8em;
    width: 19em; 
    opacity: 0.5;
}
ul{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30em;
    left: 9em;
}
li{
    list-style-type: none;
    background: #d9e9e8;
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
    border-radius: 5rem;
    color: #075e55;
    text-transform: capitalize;
    margin-left: 1em;
    cursor: pointer;
}